{% extends "skeleton.njk" %}
{% import "ui.njk" as ui %}

{% block tabs %}
{{ ui.tabs(overview=true) }}
{% endblock %}

{% block body %}
<h1 class="title">Overview</h1>

{{ ui.TextInput('Camera Name') }}

{{ ui.Switch('Capture') }}

{% endblock %}

{% block footer %}
{{ ui.ApplyResetButtons() }}
{% endblock %}