{% extends "skeleton.njk" %}
{% import "ui.njk" as ui %}

{% block body %}
{{ ui.tabs(overview=true) }}
<div class="container">
  <div class="notification is-primary">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempora est debitis nam reiciendis. Possimus, nam. Id sint deserunt ex!
  </div>
</div>
{% endblock %}
