{% macro tabs(pages) %}

<div class="tabs">
    <ul>
        {% for page in pages %}
        <li {{ 'class="is-active"' if page.active }}>
            <a href="./{{ page.url }}">{{ page.name }}</a>
        </li>
        {% endfor %}
        {# <li {{ 'class="is-active"' if 'overview'}}>
            <a href="./overview">Overview</a>
        </li>

        <li {{ 'class="is-active"' if 'download-pictures'}}>
            <a href="./download-pictures">Download Pictures</a>
        </li>

        <li {{ 'class="is-active"' if 'camera-settings'}}>
            <a href="./camera-settings">Camera Settings</a>
        </li>

        <li {{ 'class="is-active"' if 'sensor-settings'}}>
            <a href="./sensor-settings">Sensor Settings</a>
        </li>

        <li {{ 'class="is-active"' if 'advanced-settings'}}>
            <a href="./advanced-settings">Advanced Settings</a>
        </li>  #}
    </ul>
</div>

{% endmacro %}

