{% macro tabs(overview=false, pictures=false, camera=false, sensor=false, advanced=false) %}

<div class="tabs">
    <ul>
        <li {{ "class=is-active" if overview}}>
            <a href="./overview">Overview</a>
        </li>

        <li {{ "class=is-active" if pictures}}>
            <a href="./download-pictures">Download Pictures</a>
        </li>

        <li {{ "class=is-active" if camera}}>
            <a href="./camera-settings">Camera Settings</a>
        </li>

        <li {{ "class=is-active" if sensor}}>
            <a href="./sensor-settings">Sensor Settings</a>
        </li>

        <li {{ "class=is-active" if advanced}}>
            <a href="./advanced-settings">Advanced Settings</a>
        </li> 
    </ul>
</div>

{% endmacro %}

