{% extends "skeleton.njk" %}
{% import "ui.njk" as ui %}

{% block title %}Advanced Settings{% endblock %}

{% block tabs %}
{{ ui.tabs(advanced=true) }}
{% endblock %}

{% block body %}
<h1 class="title">Advanced Settings</h1>

{% endblock %}