{% extends "skeleton.njk" %}
{% import "ui.njk" as ui %}

{% block scripts %}
<script src="javascripts/download-pictures.js"></script>
{% endblock %}

{% block title %}Download Pictures{% endblock %}

{% block tabs %}
{{ ui.tabs(pictures=true) }}
{% endblock %}

{% block body %}
<h1 class="title">Download Pictures</h1>
<div id="grid" class="tile is-ancestor">
  
  
</div>

{% endblock %}