{% extends "skeleton.njk" %}
{% import "ui.njk" as ui %}

{% block scripts %}
<script src="javascripts/download-pictures.js"></script>
{% endblock %}

{% block title %}Download Pictures{% endblock %}

{% block tabs %}
{{ ui.tabs(pictures=true) }}
{% endblock %}

{% block body %}
<h1 class="title">Download Pictures</h1>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <a class="button is-link">Download All</a>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <a class="button is-danger">Delete All</a>
        </div>
    </div>
</div>

<div id="grid" class="columns is-multiline">
  
  
</div>

{% endblock %}