{% extends "skeleton.njk" %}
{% import "ui.njk" as ui %}

{% block scripts %}
<script src="javascripts/overview.js"></script>
{% endblock %}

{% block title %}Overview{% endblock %}

{% block tabs %}
{{ ui.tabs(overview=true) }}
{% endblock %}

{% block body %}
<h1 class="title">Overview</h1>

<form>
    {{ ui.TextInput('Camera Name', 'cameraName') }}
    {{ ui.Switch('Capture', 'capture') }}
</form>

{% endblock %}

{% block footer %}
{{ ui.ApplyResetButtons() }}
{% endblock %}