{% extends "skeleton.njk" %}
{% import "ui.njk" as ui %}

{% block title %}Sensor Settings{% endblock %}

{% block tabs %}
{{ ui.tabs(sensor=true) }}
{% endblock %}

{% block body %}
<h1 class="title">Sensor Settings</h1>


{% endblock %}

{% block footer %}
{{ ui.ApplyResetButtons() }}
{% endblock %}