{% macro tabs(overview=false, pictures=false, camera=false, sensor=false, advanced=false) %}
<div class="tabs is-medium">
    <ul>
        <li {{ "class=is-active" if overview}}>
            <a href="./overview">Overview</a>
        </li>

        <li {{ "class=is-active" if pictures}}>
            <a href="./download-pictures">Download Pictures</a>
        </li>

        <li {{ "class=is-active" if camera}}>
            <a href="./camera-settings">Camera Settings</a>
        </li>

        <li {{ "class=is-active" if sensor}}>
            <a href="./sensor-settings">Sensor Settings</a>
        </li>

        <li {{ "class=is-active" if advanced}}>
            <a href="./advanced-settings">Advanced Settings</a>
        </li> 

        <li style="flex-grow:1">
            {# Switch #}
            <div class="field" style="float:right">
                Capture&nbsp;
                <input id="capture" type="checkbox" name="capture" class="switch is-rounded is-info is-small" checked>
                <label for="capture"></label>
                &nbsp;
            </div>
        </li>
    </ul>
</div>

{% endmacro %}


{% macro ApplyResetButtons() %}
<footer class="section footer is-small">
    <div class="container">
        <div class="field is-grouped">
            <div class="control">
                <input type="submit" onclick="ApplySettings()" class="button is-link" value="Apply Changes">
            </div>
            <div class="control">
                <a class="button is-text" href="/api/settings/reset">Reset to Default</button>
            </div>
        </div>
    </div>
</footer>

{% endmacro %}

{# FORM CONTROLS #}
{% macro TextInput(label, name) %}
<div class="field">
    <label class="label">{{label}}</label>
    <div class="control">
        <input class="input" type="text" placeholder="{{label}}" name="{{name}}">
    </div>
</div>
{% endmacro %}

{% macro SelectInput(label, name, options) %}
<div class="field">
    <label class="label">{{label}}</label>
    <div class="control">
        <div class="select">
            <select name="{{name}}">
                {% for option in options %}
                <option>{{option}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
{% endmacro %}

{% macro Switch(label, name) %}
<div class="field">
    <label class="label">{{label}}</label>
    <input id="{{name}}" type="checkbox" name="{{name}}" class="switch is-rounded is-info" checked="checked">
    <label for="{{name}}">On</label>
</div>
{% endmacro %}

{% macro Slider(label, name, min, max, step) %}
<div class="field">
    <label class="label">{{label}}</label>
    <input style="width: calc(100% - (4.7rem))" id="{{name}}" class="slider control is-fullwidth has-output is-small is-circle" name="{{name}}" step="{{step}}" min="{{min}}" max="{{max}}" type="range">
    <output style="width: 3.5rem" for="{{name}}"></output>
</div>
{% endmacro %}